@model Sistema_Gestor_Eventos_Tlahuac.Models.TipoActividad

@{
    ViewData["Title"] = "Eliminar tipo de actividad";
}
<partial name="_Header_Vistas" />
<p>¿Estas seguro de eliminar el tipo de actividad?</p></br>
<hr />
<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow-sm">

            <div class="card-body">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Activo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Activo)
                </dd>
                </dl>

                <form asp-action="Delete">
                    <a asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                       <input type="submit" value="Delete" class="btn btn-eliminar">
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
