@model IEnumerable<Sistema_Gestor_Eventos_Tlahuac.Models.TipoActividad>

@{
    ViewData["Title"] = "Tipos de actividad";
}

<partial name="_Header_Index" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    <partial name="_Botones_Tablas" model="item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
